---
layout: layouts/base.njk
title: Home
lang: it
description: 11ty-base è un minimal setup per Eleventy con i18n (EN/IT) e RSS feeds, con un design semplice ed ottimizzato.
---

<p>{{ translations[lang].intro }}</p>

<p>
  RSS: <a href="/it/articles/feed.xml">/it/articles/feed.xml</a>
</p>
