<!doctype html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {% include "partials/seo.njk" %}

        {% include "partials/analytics.njk" %}

        {# risotto theme CSS (ported) #}
        <link id="palette-stylesheet" rel="stylesheet" href="/assets/css/palettes/base16-dark.css"/>
        <link rel="stylesheet" href="/assets/css/risotto.css"/>
        <link rel="stylesheet" href="/assets/css/custom.css"/>
    </head>
    <body>
        <div class="page">
            <header class="page__header">
                {% include "partials/header.njk" %}
            </header>

            <section class="page__body">
                {% block main %}
                    {{ content | safe }}
                {% endblock %}
            </section>

            <section class="page__aside">
                <div class="aside__about">
                    {% include "partials/about.njk" %}
                </div>
                <hr>
                <div class="aside__content">
                    {% block aside %}
                        {% if description %}<p>{{ description }}</p>{% endif %}
                    {% endblock %}
                </div>
            </section>

            <footer class="page__footer">
                {% include "partials/footer.njk" %}
            </footer>
        </div>

        <script src="/assets/theme.js" defer></script>
    </body>
</html>