---
layout: layouts/base.njk
pagination:
  data: locales
  size: 1
  alias: lang
permalink: /{{ lang }}/about/
eleventyComputed:
  title: "{{ translations[lang].aboutTitle }}"
  description: "{{ translations[lang].aboutDescription }}"
---

<h1 id="about">{{ translations[lang].aboutTitle }}</h1>

<p>{{ translations[lang].aboutIntro }}</p>

<p>{{ translations[lang].aboutHobbiesHtml | safe }}</p>

<h2>{{ translations[lang].contactsTitle }}</h2>

<p>
  {{ translations[lang].contactEmail }}: <a href="mailto:info@lorenzoborghi.it">info@lorenzoborghi.it</a>
</p>