---
layout: layouts/base.njk
pagination:
  data: locales
  size: 1
  alias: lang
permalink: /{{ lang }}/posts/
eleventyComputed:
  title: "{{ translations[lang].posts }}"
  description: "{{ translations[lang].postsDescription }}"
---

<h1 id="{{ translations[lang].postsTitle | lower | replace(' ', '-') }}">{{ translations[lang].postsTitle }} <a href="/{{ lang }}/articles/feed.xml">{{ translations[lang].rssFeed }}</a></h1>

<p>{{ translations[lang].postsIntro }}</p>

<ul>
  {% for post in collections["articles_" + lang] %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a>{% if post.date %} {{ translations[lang].dateOn }} {{ post.date.toISOString().slice(0,10) }}{% endif %}</li>
  {% endfor %}
</ul>
