<nav class="page__nav main-nav">
  <ul>
    <li class="nomarker">
      <p class="page__logo">
        <a href="{{ "/" | locale_url }}" class="page__logo-inner">{{ site.handle }}</a>
      </p>
    </li>
    <li class="main-nav__item">
      <a class="nav-main-item{% if ("/posts/" in page.url) or ("/articles/" in page.url) %} active{% endif %}" href="{{ "/posts/" | locale_url }}" title="{{ translations[lang].posts }}">{{ translations[lang].posts }}</a>
    </li>
    <li class="main-nav__item">
      <a class="nav-main-item{% if "/publications/" in page.url %} active{% endif %}" href="{{ "/publications/" | locale_url }}" title="{{ translations[lang].publications }}">{{ translations[lang].publications }}</a>
    </li>
  </ul>
</nav>
